@import "tailwindcss";

@theme {
  --color-euro-blue: #2a3286;
  --color-euro-purple: #583182;
  --color-euro-pink: #ec008c;
  --color-euro-lightblue: #e5eaff;
  --color-euro-yellow: #f59e0b; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #ffffff;
  color: #333333;
}

@media screen and (max-width: 768px) {
.hksdjf {
  position: relative;
  top: 25px;
}
}